<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<RollingFile name="error-json-appender" fileName="logs/json.log" filePattern="logs/json-%d{yyyyMMdd}.log.gz">
			<JSONLayout compact="true" eventEol="true" locationInfo="true"/>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
			</Policies>
		</RollingFile>

		<RollingFile name="file-appender" fileName="logs/app.log"
					 filePattern="logs/app-%d{yyyyMMdd}.log.gz">
			<PatternLayout>
				<Pattern>%d{MMdd HH:mm:ss.SSS} %-5p [%c][%t][%F:%L] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
			</Policies>
		</RollingFile>

		<RollingFile name="db-appender" fileName="logs/db.log" filePattern="logs/db-%d{yyyyMMdd}.log.gz">
			<PatternLayout>
				<Pattern>%d{MMdd HH:mm:ss.SSS} %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
			</Policies>
			<Filters>
				<ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
			</Filters>
		</RollingFile>

<!--		<Kafka name="request-kafka" topic="request-logger">-->
<!--			<PatternLayout pattern="%d{yyyyMMdd HH:mm:ss.SSS} [snowflake] %m"/>-->
<!--			<Property name="bootstrap.servers">172.31.25.36:9092,172.31.25.35:9092</Property>-->
<!--		</Kafka>-->

	</Appenders>

	<Loggers>


		<AsyncLogger name="com.ice" additivity="false" level="info" includeLocation="true">
			<AppenderRef ref="file-appender"/>
			<AppenderRef ref="error-json-appender"/>
		</AsyncLogger>



		<AsyncLogger name="druid.sql.Statement" additivity="false" level="info">
			<AppenderRef ref="db-appender"/>
		</AsyncLogger>

		<AsyncRoot level="info" includeLocation="true">
			<AppenderRef ref="file-appender"/>
			<AppenderRef ref="error-json-appender"/>
		</AsyncRoot>
	</Loggers>
</Configuration>

